@import url('https://fonts.googleapis.com/css2?family=Itim&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.playfair-display{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.itim-regular {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}
  
*{
    margin: 0;
    padding: 0;
}

